div.options-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0.25em;
    grid-row-gap:0.5em ;
}

div.options-block button{
    font-size: 1.5rem;
    cursor: pointer;
    background-color: inherit;
    outline: none;
    color: rgb(189,233,255);
    border:2px solid  rgb(0,170,255); 
    border-radius: 0.25em;
    padding: 0.5em 1em;
}

div.options-block button:hover{
    background-color: rgb(0,170,255);
}

div.options-block button:disabled{
    cursor: not-allowed;
}

div.options-block button.correct-option{
    background-color: green;
}

div.options-block button.wrong-option{
    background-color: burlywood;    
}