body{
    margin:0;
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(0,27,41);
}

div.modal{
    position: absolute;
    width: 60%;
    top:10%;
    left:20%;
    color:white;
    background-color: rgb(38,42,53);
    padding: 0.5em;
    opacity: 0.8;    
    font-size: 3rem;
    align-items: center;
    text-align: center;
}


@media only screen and (max-width: 600px) {  

    div.modal{
    position: absolute;
    width: 100%;
    top:25%;
    left:0%;
    color:white;
    background-color: rgb(38,42,53);
    padding: 0.5em;
    opacity: 0.8;    
    font-size: 2rem;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    }
}
@import './Css/Nav.css';
@import './Css/Quiz.css';
@import './Css/Question.css';
@import './Css/Options.css';
@import './Css/DashBoard.css';