body{
    margin:0;
    box-sizing: border-box;
}

div.modal{
    position: fixed;
    top:30%;
    left:25%;
    color:white;
    background-color: rgb(38,42,53);
    padding: 0.5em;
    opacity: 0.8;    
    font-size: 3rem;
    display: flex;
    margin: auto;
}

@import './Css/Nav.css';
@import './Css/Quiz.css';
@import './Css/Question.css';
@import './Css/Options.css';
@import './Css/DashBoard.css';